<div class="detail">

  {{#each model as |pledge|}}
    {{#if pledge.isClaimed }}

      <div class="detail-card">
        <div class="detail-card__title">Your Old Pledges</div>
        <div class="user-pledge">Pledge: {{ pledge.name }}</div>
        <div class="user-pledge">{{ pledge.description }}</div>
        <div class="user-pledge">Contact: {{ pledge.contactInfo }}</div>
        <div class="user-pledge__end">Duration: {{ pledge.endDate }}</div>
        <div class="user-pledge">Claimed: {{ pledge.isClaimed }}</div>
        <div class="button-box">
          <button type="button" {{action "toggleAndSave" pledge "isClaimed" }} class="btn">Status Change</button>
        </div>
      </div>

    {{/if}}
  {{/each}}

</div>







{{!-- {{#simple-form class="card__form" onsubmit=(action "addPledge") as | formValues |}}
{{input class="form__input" type="text" required=true value=formValues.name placeholder="Title" }} {{input class="form__input" type="text" required=true value=formValues.description placeholder="Description"}} {{input class="form__input" type="text" required=true value=formValues.contactInfo placeholder="Contact Info"}} {{input class="form__input"
type="date" required=true value=formValues.endDate placeholder="End Date"}}
<div class="button-box">
  <button type="submit" class="btn">Pledge</button>
</div>
{{/simple-form}} --}}
