<div class="grid">
  <div class="grid-left">
    <div class="admin__title">Pledges</div>

    {{#each model as |pledge|}}
      <div class="admin-side__card">
        <div class="user-org">{{ pledge.name }}</div>
        {{!-- <div class="user-org">{{ pledge.user}}</div> --}}
        <div class="user-pledge">{{ pledge.description }}</div>
        <div class="user-pledge__end">{{ pledge.contactInfo }}</div>
        <div class="user-pledge__end">{{ pledge.duration }}</div>
        <div class="button-box">
          {{#link-to "admin.pledge.detail" class="btn" }}Details{{/link-to}}
          {{#link-to "admin.pledge.edit" class="btn" }}Edit{{/link-to}}
          <button type="submit" class="btn">Approved</button>
        </div>
      </div>
    {{/each}}

  </div>
  <div class="grid-right">{{outlet}}</div>
</div>
