<div class="main-content__detail">


    {{#each model as |value|}}
      <h2>{{value.contact_type}}</h2>
      <h4>{{value.contact}}</h4>
      <h4>{{value.phone_number}}</h4>
      <h4>{{value.notes}}</h4>
      <h4>{{value.location_1_zip}}</h4>
      <h4>{{value.location_1_city}}</h4>
      <h4>{{value.location_1_address}}</h4>
    {{/each}}

</div>
