<div class="detail">
  <div class="detail-card">
    <div class="detail-card__title">Edit Resource Infomation</div>

    {{#simple-form class="card__form" startingValues=model onsubmit=(action "updateResource") as | formValues |}}
      {{!-- <div class="user-org user-info">Category</div>
      {{input class="form__input" type="text" required=true value=formValues.type placeholder="Category"}} --}}
      <div class="pledge-detail user-info">Resource</div>
      {{input class="form__input" type="text" required=true value=formValues.name placeholder="Resource"}}
      <div class="pledge-detail user-info">Address</div>
      {{input class="form__input" type="text" required=true value=formValues.address placeholder="Address"}}
      <div class="pledge-detail user-info">Phone #</div>
      {{input class="form__input" type="text" required=true value=formValues.phone placeholder="Phone #"}}

      <div class="pledge-detail user-info">Website</div>
      {{input class="form__input" type="text" required=true value=formValues.website placeholder="Website"}}
      <div class="pledge-detail user-info">Categories</div>
      <div class="checkbox-grid">
        <div class="checkbox">hey{{input class="check" type="checkbox" }}</div>
        <div class="checkbox">stuff {{input class="check" type="checkbox" }}</div>
        <div class="checkbox">things {{input class="check" type="checkbox" }}</div>
        <div class="checkbox">hello {{input class="check" type="checkbox" }}</div>
      </div>
      <div class="button-box">
        <button type="submit" class="btn">Update</button>
      </div>
    {{/simple-form}}
  </div>
</div>
