<section>
    <div class="hero">
    <img src="../img/shoe.jpg" class="hero-image" alt="">
    <h1 class="hero-text">Help When Needed Most</h1>
    {{#link-to "resources" class="hero-button"}}I Need Shelter{{/link-to}}
    </div>
</section>
<section>
<div class="container">
  <div class="category">
    <h2 class="category-header">Choose Category</h2>
    <div class="category-dropdown">
    {{#power-select
      class="category-dropdown--text"
      options=categoryOptions
      selected=category
      placeholder="Choose Category"
      onchange=(action (mut category))
    as |name|
  }}
    {{#link-to "resources" (query-params category=(arr name))}}{{name}}{{/link-to}}
  {{/power-select}}
  </div>
  </div>
</div>

</section>


<section>
  <div class="container">
    <div class="localcommunity">
      <h2 class="localcommunity-header">Local Community Resources</h2>
      {{#each model as |pledge|}}
        {{#if (and pledge.isApproved (not pledge.isClaimed)) }}
        {{!-- if (pledge.isApproved && !pledge.isClaimed) --}}

      <div class="localcommunity-card">
        <span class="localcommunity-card--content localcommunity-nonprofit">{{ pledge.name}}</span>
        <span class="localcommunity-card--content localcommunity-posted">{{ pledge.duration }}</span>
      </div>
      <div class="localcommunity-card">
        <span class="localcommunity-card--content">{{ pledge.description }}</span>
        <span class="localcommunity-card--content localcommunity-right">{{ pledge.contactInfo }}</span>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>
