<div class="app">
  <div class="sidebar">
    <div onclick= {{action 'showDropdown'}} class="sidebar-dropdown">Choose Category <span class="fa fa-angle-down sidebar-dropdown-icon"></span></div>
    <div class="sidebar-dropdown sidebar-dropdown--item">Housing</div>
    <div class="sidebar-dropdown sidebar-dropdown--item">Food</div>
    <div class="sidebar-dropdown sidebar-dropdown--item">Clothing</div>

    <h3 class="sidebar-header">Resources Near You</h3>
    {{#each model as |organization|}}
      <div class="sidebar-card">
        <h3 class="sidebar-primary">{{ organization.name }}</h3>
        <h4 class="sidebar-secondary">{{ organization.name }}</h4>
      </div>
    {{/each}}
    {{#each nashvilleResources as |nashville|}}
      <div class="sidebar-card">
        <h3 class="sidebar-primary">{{ nashville.contact_type}}</h3>
        <h4 class="sidebar-secondary">{{ nashville.contact}}</h4>
      </div>
    {{/each}}
  </div>
  <div class="main-content">
    <div class="main-content--header">
      <h3 class="main-content--header__text">Searching For</h3>
      <h3 class="main-content--header__tag">Housing</h3>

    </div>

    <p><label>{{input type="checkbox" checked=nightMode}} Night mode</label></p>
    {{#leaflet-map lat=lat lng=lng zoom=zoom onMoveend=(action "updateCenter")}}
      {{#if nightMode}}
        {{tile-layer url="http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}
      {{else}}
        {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{/if}}

      {{#each model as |organization|}}
      {{log "model" organization.location}}
        {{#marker-layer location=organization.location}}
          {{#popup-layer}}
            <h3>{{ organization.name }}</h3>
            <h4>{{ organization.phone }}</h4> {{organization.address}}
          {{/popup-layer}}
        {{/marker-layer}}
      {{/each}}

      {{#each nashvilleResources as |organization|}}
      {{log "nashville" organization.location_1.coordinates}}
        {{#marker-layer location=(arr-reverse organization.location_1.coordinates)}}
          {{#popup-layer}}
            <h3>{{ organization.contact }}</h3>
            <h4>{{ organization.phone_number }}</h4> {{organization.location_1_address}}
          {{/popup-layer}}
        {{/marker-layer}}
      {{/each}}

    {{/leaflet-map}}

    {{outlet}}
  </div>
</div>
