<nav class="nav">
  <div class="nav-left">
    <img src="/img/logo2.svg" class="logo" alt="">
    <h1 class="nav-item is-brand">{{#link-to "index"}}A Safety Net{{/link-to}}</h1>
  </div>
  <ul class="nav-right__column {{if showMobile "nav-right__column--active"}}">
    <button {{action toggleProperty "showMobile"}} class="nav-right__hamburger fa fa-bars"></button>
    <button {{action toggleProperty "showMobile"}} class="nav-right__ex fa fa-times"></button>

    {{#if session.isAuthenticated}}
      <li class="nav-right__mobile">
        {{#link-to "user.pledge"}}User{{/link-to}}
      </li>
      {{#if currentUser.user.isAdmin}}
      <li class="nav-right__mobile">
        {{#link-to "admin"}}Admin{{/link-to}}
      </li>
      {{/if}}
      <li class="nav-right__mobile">
        {{#link-to "logout"}}Logout{{/link-to}}
      </li>
    {{else}}
      <li class="nav-er--button nav-right__mobile">
        {{#link-to "resources"}}I Need Shelter{{/link-to}}
      </li>
      <li class="nav-right__mobile">
        {{#link-to "about"}}About{{/link-to}}
      </li>
      <li class="nav-right__mobile">
        {{#link-to "sign-up"}}Sign-Up{{/link-to}}
      </li>
      <li class="nav-right__mobile">
        {{#link-to "login"}}Login{{/link-to}}
      </li>

    {{/if}}
  </ul>
  <ul class="nav-right__row">
    {{#if session.isAuthenticated}}
    <li class="nav-right__desktop">
      {{#link-to "user.pledge"}}User{{/link-to}}
    </li>
    {{#if currentUser.user.isAdmin}}
      <li class="nav-right__desktop">
        {{#link-to "admin"}}Admin{{/link-to}}
      </li>
    {{/if}}
    <li class="nav-right__desktop">
      {{#link-to "logout"}}Logout{{/link-to}}
    </li>

    {{else}}
    <li class="nav-er--button nav-right__desktop">
      {{#link-to "resources"}}I Need Shelter{{/link-to}}
    </li>
    <li class="nav-right__desktop">
      {{#link-to "about"}}About{{/link-to}}
    </li>
    <li class="nav-right__desktop">
      {{#link-to "sign-up"}}Sign-Up{{/link-to}}
    </li>
    <li class="nav-right__desktop">
      {{#link-to "login"}}Login{{/link-to}}
    </li>
    {{/if}}
  </ul>
</nav>

{{yield}}
