{{outlet}}
<div class="detail">
  <div class="detail-card">
    <div class="detail-card__title">Edit Details</div>
    {{#simple-form class="card__form" startingValues=model onsubmit=(action "updateForm") as | formValues |}}
      <div class="pledge-detail user-info">Organization Name</div>
      {{input class="form__input" type="text" required=true id="organization.name"
      value=formValues.organization.name placeholder="Organization Name"}}

      <div class="pledge-detail user-info">Address</div>
      {{input class="form__input" type="text" required=true id="organization.address"
      value=formValues.organization.address placeholder="Address"}}

      <div class="pledge-detail user-info">Phone #</div>
      {{input class="form__input" type="text"required=true id="organization.phone"
      value=formValues.organization.phone placeholder="Phone #"}}

      <div class="pledge-detail user-info">Website</div>
      {{input class="form__input" type="text" required=true id="organization.website"
      value=formValues.organization.website placeholder="Website"}}

      <div class="pledge-detail user-info">E-Mail</div>
      {{input class="form__input" type="text" required=true id="name"
      value=formValues.email placeholder="E-Mail"}}

      <div class="button-box">
        <button type="submit" class="btn">Save</button>
      </div>
    {{/simple-form}}
  </div>
</div>
