{{outlet}}
<div class="container">
  <div class="card-page">
    <div class="card">
      <div class="card__title">Register Your Non-Profit</div>
      {{#simple-form class="card__form" onsubmit=(action "saveForm") as | formValues |}}
        {{input class="form__input" type="text" required=true value=formValues.orgName placeholder="Organization Name"}}
        {{input class="form__input" type="text" required=true value=formValues.address placeholder="Address"}}
        {{input class="form__input" type="text" required=true value=formValues.phone placeholder="Phone #"}}
        {{input class="form__input" type="text" required=true value=formValues.website placeholder="Website"}}
        {{input class="form__input" type="text" required=true value=formValues.email placeholder="E-Mail"}}
        {{input class="form__input" type="text" required=true value=formValues.password placeholder="Password"}}
        <div class="button-box">
          {{#link-to "login"}}Already Have an Account?{{/link-to}}
          <button type="submit" class="btn">Submit</button>
        </div>
      {{/simple-form}}
    </div>
  </div>
</div>
